* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family:  'Oswald',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1F1111;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #1F1111;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family:  'Oswald',Arial;
	font-weight: normal;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	max-width:1440px;
}
a:hover,
.submit:hover {
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Light.woff2') format('woff2'),
        url('Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-ExtraLight.woff2') format('woff2'),
        url('../fonts/Oswald-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
        url('../fonts/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
        url('../fonts/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-SemiBold.woff2') format('woff2'),
        url('../fonts/Oswald-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
header{
    padding: 20px 0;
    border-bottom: 1px solid #f3eded;
    height: 100px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div.left{
    display: flex;
    align-items: center;
}
header div.left h1{
    width: 36px;
    margin-right: 24px;
}
header div.left h1 a{
    display: inline-block;
    color: #1F1111;
}
header div.left h1 a img{
    width: 100%;
    display: inline-block;
}
header div.left ul{
    display: flex;
}
header div.left ul li{
    margin-left: 16px;
}
header div.left ul li a{
   font-size: 12px;
}
header div.left ul li:first-child{
    margin-left: 0;
}
header div.right{

}
header div.right ul{
    display: flex;
}
header div.right ul li{
    margin-left: 14px;
}
header div.right ul li a.button{
    background: #f4643f;
    display: inline-block;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div.right ul li input[type=search]{
    
}
header div.right ul li input[type=search]::placeholder{
    font-size: 12px;
    color: #1F1111;
}
header div.right ul li a span{
    width: 20px;
    display: inline-block;
}
header div.right ul li a span img{
    width: 100%;
    display: inline-block;
    filter: brightness(0) invert(1);
}
header div.right ul li form{
    margin-left: 4px;
}
header div.right ul li form input[type=search]{
    font-size: 12px;
    font-weight: 600;
    width: 65px;
    /* color: #000; */
}
header div.right ul li:nth-child(2n){
    position: relative;
    margin-left: 24px;
}
header div.right ul li small{
    display: inline-block;
    width: 14px;
    position: absolute;
    left: -15px;
    top: 5px;
}
header div.right ul li small img{
    width: 100%;
    display: inline-block;
}

/* -------------header style end -------------*/

#spotlight{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}
#spotlight section.container{
    display: flex;
    justify-content: space-between;
}
#spotlight div.left{
    width: 45%;
}
#spotlight div.left h4{
    font-size: 14px;
    color: #d05d42;
    margin-bottom: 24px;
}
#spotlight section.container div.left h1{
    font-size: 64px;
    width: 80%;
    margin-bottom: 24px;
}
#spotlight section.container div.left p{
    width: 50%;
    font-size: 14px;
    color: #8d8d8d;
    width: 70%;
    margin-bottom: 24px;
}
#spotlight section.container div.left a.button{
    display: inline-block;
    font-size: 14px;
    background: #f4643f;
    color: #fff;
    padding: 8px 40px;
}
#spotlight section.container div.right{
    width: 55%;
}
#spotlight section.container div.right{
    display: flex;
}
#spotlight section.container div.right div.hero_bg{
    width: 30%;
    background: #f4643f;
    margin-right: 24px;
    position: relative;
    height: 460px;
}
#spotlight section.container div.right div.hero_bg:last-child{
    margin-right: 0;
}
#spotlight section.container div.right div.hero_bg div.hero_img{
    position: absolute;
    bottom: 12px;
    left: 11px;
    width: 100%;
}
#spotlight section.container div.right div.hero_bg div.hero_img img{
    width: 100%;
    height: 460px;
    display: block;
}

/* ---------spotlight style end--------------- */

#industry{
    background: #f9f9f9;
}
#industry section.inner_container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#industry section.inner_container div.left{
    width: 45%;
}
#industry section.inner_container div.left div.se_logo{
    width: 50px;
    margin-bottom: 24px;
}
#industry section.inner_container div.left div.se_logo img{
    width: 100%;
    display: block;
}
#industry section.inner_container div.left h2{
    font-size: 48px;
    margin-bottom: 24px;
    width: 80%;
}
#industry section.inner_container div.left p {
    font-size: 14px;
    color: #8d8d8d;
    font-weight: normal;
}
#industry section.inner_container div.left span {
    color: #f4643f;
}
#industry section.inner_container div.left div.box{
    display: flex;
    background: #fff;
    margin: 24px 0;
    align-items: center;
    padding: 20px;
}
#industry section.inner_container div.left div.box div.box_logo{
    margin-right: 12px;
}
#industry section.inner_container div.left div.box div.box_logo img{
    width: 100%;
    display: block;
}

#industry section.inner_container div.right{
    width: 40%;
    padding: 80px 0;
}
#industry section.inner_container div.right div.industry_img{
    width: 100%;
}
#industry section.inner_container div.right div.industry_img img{
    width: 100%;
    display: block;
}

/* ---------------industry style end---------------------- */

#service{
    padding: 80px 0;
}
#service div.se_logo{
    width: 50px;
    margin: 0px auto;
}
#service div.se_logo img{
    width: 100%;
    display: block;
}
#service h2{
    font-size: 48px;
    margin: 16px 0;
    text-align: center;
    font-weight: normal;
}
#service p{
    text-align: center;
    font-size: 14px;
    color: #8d8d8d;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 24px;
    font-weight: normal;
}
#service div.cards{
    
}
#service div.cards ul{
    display: flex;
    justify-content: space-between;
}
#service div.cards ul li{ 
    width: 30%;
    position: relative;
    border-bottom: 4px solid #000;
}
#service div.cards ul li div.card_img{ 
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 24px;
}
#service div.cards ul li div.card_img img{ 
    width: 100%;
    height: 100%;
}
#service div.cards ul li div.icon_bg{
    background: #fff;
    padding: 14px;
    position: absolute;
    top: 190px;
    right: 40px;
    border-bottom: 1px solid #000;
}
#service div.cards ul li div.icon_bg div.icon{
    width: 40px;
}
#service div.cards ul li div.icon_bg img{
    width: 100%;
    display: block;
}
#service div.cards ul li h4{
    margin: 16px 0;
    font-weight: 300;
    color: #d05d42;
}
#service div.cards ul li h3{
    margin: 16px 0;
    font-size: 20px;
    font-weight: 500;
}
#service div.cards ul li a.button{
    display: inline-block;
    margin: 16px 0;
    background: #f4643f;
    display: inline-block;
    padding: 8px 40px;
    color: #fff;
    font-size: 14px;
}
#service div.cards ul li small{
    color: #8d8d8d;
    display: block;
    font-weight: normal;
}

/* ----------------service style end--------------------- */

#project{

}
#project div.se_logo{ 
    width: 50px;
    margin: 0px auto;
}
#project div.se_logo img{
    width: 100%;
    display: block;
}
#project h2{ 
    font-size: 48px;
    font-weight: normal;
    margin: 24px 0;
    text-align: center;
}
#project p{
    font-size: 14px;
    color: #8d8d8d;
    text-align: center;
    width: 28%;
    margin: 0 auto;
}
#project ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}
#project ul li{
    width: 20%;
}
#project ul li:first-child{
    width: 40%;
}
#project ul li div.project_img{

}
#project ul li div.project_img img{
    width: 100%;
    display: block;
}

/* ----------------project style end--------------------- */

#article{
    padding: 90px 0;
}
#article div.se_logo{
    width: 50px;
    margin: 0px auto;
}
#article div.se_logo img{
    width: 100%;
    display: block;
}
#article h2{ 
    font-size: 48px;
    font-weight: normal;
    margin: 24px 0;
    text-align: center;
}
#article p{
    font-size: 14px;
    color: #8d8d8d;
    text-align: center;
    width: 35%;
    margin: 0 auto;
}
#article div.cards {
    margin: 24px 0;
}
#article div.cards ul{
    display: flex;
    justify-content: space-between;
}
#article div.cards ul li{
    width: 31%;
}
#article div.cards ul li div.card_img{
    position: relative;
}
#article div.cards ul li div.card_img img{
    width: 100%;
    display: block;
    height: 230px;
}
#article div.cards ul li div.card_img span.card_title{
    background: #f4643f;
    padding: 10px 18px;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    left: 16px;
    bottom: -10px;
}
#article div.cards ul li span.card_title a{
    color: #fff;
}
#article div.cards ul li h6{
    margin: 16px 0;
    color: #8d8d8d;
    font-size: 14px;
}
#article div.cards ul li h5{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 16px;
    width: 80%;
}
#article div.cards ul li h4{
    font-size: 14px;
    color: #d05d42;
    display: inline-flex;
    cursor: pointer;
}
#article div.cards ul li h4 span{
    display: inline-block;
    margin-left: 16px;
}
#article div.cards ul li h4 span img{
   width: 100%;
   display: inline-block;
}
#article div.scroller{
    text-align: center;
}
#article div.scroller span.scroll{
    width: 15px;
    height: 15px;
    border: 3px solid #f4643f;
    margin-right: 8px;
    background: #fff;
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
}
#article div.scroller span.scroll:hover{
    background: #f4643f;
}
#article div.scroller span.scroll:last-child{
    margin-right: 0;
}
/* ----------------article style end--------------------- */

#contact{
    background: #f1f2f4;
    padding: 50px 0;
}
#contact section.container{
    display: flex;
}
#contact section.container div.left{
    width: 30%;
}
#contact section.container div.right{
    width: 70%;
}
#contact div.se_logo{
    width: 50px;
    margin-bottom: 18px;
}
#contact div.se_logo img{
    width: 100%;
    display: block;
}
#contact section.container div.left a.button{
    display: inline-block;
    margin-top: 16px;
    background: #f4643f;
    display: inline-block;
    padding: 8px 40px;
    color: #fff;
    font-size: 14px;
}
#contact section.container div.left h2{
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 24px;
    width: 70%;
}
#contact section.container div.left p{
    font-size: 14px;
    color: #8d8d8d;
}
#contact section.container div.left p span{
    color: #d05d42;
}
#contact section.container div.right{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
}
#contact section.container div.right div.box{
    background: #fff;
    width: 27%;
    height: 200px;
    padding: 20px;
}
#contact section.container div.right div.box span.box_icon{
    display: inline-block;
    width: 40px;
    margin-bottom: 12px;
}
#contact section.container div.right div.box span.box_icon img{
    width: 100%;
    display: inline-block;
}
#contact section.container div.right div.box h3{
   font-size: 18px;
   width: 50%;
   margin-bottom: 4px;
}
#contact section.container div.right div.box p{
    font-size: 12px;
    color: #8d8d8d;
    width: 100%;
}
#contact section.container div.right div.box p span{
    color: #d05d42;
}

/* ----------------contact style end--------------------- */

#testimonial {
    padding: 50px 0;
}
#testimonial div.test_head{
    text-align: center;
    margin-bottom: 26px;
    padding: 54px 0;
}
#testimonial div.test_head ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#testimonial div.test_head ul li{
    
}
#testimonial div.test_head ul li h4{
    font-size: 34px;
    font-weight: normal;
    color: #f4643f;
}
#testimonial div.test_head ul li h5{
    font-size: 12px;
    color: #8d8d8d;
    margin: 14px 0;
}
#testimonial div.test_head ul li h6{
    font-size: 20px;
    font-weight: 600;
}
#testimonial div.test_body{
    background-image: url("../images/pexels-anamul-rezwan-1145434\ 2.jpg");
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    position: relative;
}
#testimonial div.box_container{
    position: absolute;
    left: 260px;
}
#testimonial div.test_body div.test_box{
    width: 500px;
    background: #fff;
    height: 480px;
    padding: 40px;
}
#testimonial div.box_container div.test_box div.se_logo{
    width: 50px;
    /* margin-bottom: 18px; */
}
#testimonial div.box_container div.test_box div.se_logo img{
    width: 100%;
    display: block;
}
#testimonial div.box_container div.test_box h2{
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 18px;
    width: 80%;
}
#testimonial div.test_body div.test_box_blue{
    background: #12192c;
    width: 500px;
    height: 110px;
}
#testimonial div.test_body div.test_box ul{
    display: flex;
    width: 100%;
}
#testimonial div.test_body div.test_box ul li{
    width: 27%;
    opacity: 0.5;
    transition: 0.5s;
}
#testimonial div.test_body div.test_box ul li:hover{
    opacity: 1;
}
#testimonial div.test_body div.test_box ul li div.content{
    width: 80%;
    
}
#testimonial div.test_body div.test_box ul li div.content div.bg{
    width: 80px;
    height: 80px;
    background: #c5c5c5;
    margin-bottom: 12px;
    position: relative;
}
#testimonial div.test_body div.test_box ul li:nth-child(2n) div.content div.bg{
    background: #fde2db;
}
#testimonial div.test_body div.test_box ul li:nth-child(3n) div.content div.bg{
    background: #fde2db;
}
#testimonial div.test_body div.test_box ul li div.content div.bg .test_img{
    position: absolute;
    width: 100%;
    top: -8px;
    left: -7px;
}
#testimonial div.test_body div.test_box ul li div.content div.bg .test_img img{
    width: 100%;
    display: block;
}
#testimonial div.test_body div.test_box ul li div.content h6{
    font-size: 12px;
    margin-bottom: 8px;
}
#testimonial div.test_body div.test_box ul li div.content h4{
    font-size: 14px;
    color: #f4643f;
}
#testimonial div.test_body div.test_box p{
    line-height: 1.6em;
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
    color: #797979;
}
#testimonial div.test_body div.arrow_section{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
#testimonial div.test_body div.arrow_section div.left{
    display: flex;
    /* align-items: center; */
    width: 30%;
}
#testimonial div.test_body div.arrow_section div.left span.arrow{
    display: inline-block;
}
#testimonial div.test_body div.arrow_section div.left span.arrow img{
    width: 100%;
    display: inline-block;
}
#testimonial div.test_body div.arrow_section div.right{
    display: flex;
}
#testimonial div.test_body div.arrow_section div.right span.star{
    width: 12px;
    margin-left: 8px;
}
#testimonial div.test_body div.arrow_section div.right span.star img{
    width: 100%;
    display: inline-block;
}
#testimonial div.test_body div.test_box_blue{
    text-align: center;
    padding-top: 20px;
}
#testimonial div.test_body div.test_box_blue h4{
    color: #fff;
    font-size: 14px;
    margin-bottom: 12px;
}
#testimonial div.test_body div.test_box_blue h3{
    color: #f4643f;
    font-size: 24px;
}
#testimonial div.test_bottom{
    padding: 92px 0;
}
#testimonial div.test_bottom div.icon_section{ 
    width: 60%;
    margin: 0 auto;
}
#testimonial div.test_bottom div.icon_section ul{ 
    display: flex;
    justify-content: space-between;
}
#testimonial div.test_bottom div.icon_section ul li{ 
    
}
#testimonial div.test_bottom div.icon_section ul li div.icon_container{ 
    text-align: center;
}
#testimonial div.test_bottom div.icon_section ul li div.icon_container span {
    width: 60px;
    display: inline-block;
}
#testimonial div.test_bottom div.icon_section ul li div.icon_container span img{ 
    width: 100%;
    display: inline-block;
}
#testimonial div.test_bottom div.icon_section ul li div.icon_container h4{
    font-size: 12px;
    color: #797979;
}

/* ----------------contact style end--------------------- */

footer{
    background: #12192c;
    padding: 50px 0;
}
footer div.container{
    display: flex;
    justify-content: space-between;
}
footer div.container div.left{
    width: 20%;
}
footer div.container div.left div.se_logo{
    margin-bottom: 24px;
}
footer div.container div.left div.se_logo image{
    width: 100%;
    display: block;
}
footer div.container div.left ul{

}
footer div.container  div.left ul li{
    color: #fff;
    margin-bottom: 16px;
    font-size: 12px;
}
footer div.container div.left ul li:last-child{
    margin-bottom: 0;
}
footer div.container div.middle_first{
    width: 20%;
    text-align: center;
}
footer div.container div.middle_first div.inner{
    display: flex;
}
footer div.container div.middle_first h3{
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 70%;
    margin-bottom: 18px;
}
footer div.container div.middle_first ul{
   
}
footer div.container div.middle_first ul li{
    display: flex;
    align-items: center;
}
footer div.container div.middle_first ul li span{
    display: inline-block;
}
footer div.container div.middle_first ul li span img{
    width: 100%;
    display: block;
}
footer div.container div.middle_first ul li small{
    display: inline-block;
    color: #fff;
    margin-right: 18px;
    font-size: 12px;
    cursor: pointer;
}

footer div.container div.middle_second{
    width: 20%;
}
footer div.container div.middle_second h3{
    font-size: 20px;
    color: #fff;
    margin-bottom: 18px;
}
footer div.container div.middle_second ul{

}
footer div.container div.middle_second ul li{
    display: flex;
}
footer div.container div.middle_second ul li div.profile_img{
    width: 70px;
    margin-bottom: 12px;
    margin-right: 12px;
}
footer div.container div.middle_second ul li div.profile_img:last-child{
    margin-bottom: 0;
}
footer div.container div.middle_second ul li div.profile_img img{
    width: 100%;
    display: block;
}
footer div.container div.middle_second ul li div.profile_content{

}
footer div.container div.middle_second ul li div.profile_content h6{
    font-size: 10px;
    color: #797979;
}
footer div.container div.middle_second ul li div.profile_content span{
    font-size: 14px;
    color: #fff;
}
footer div.container div.right{
    width: 20%;
    position: relative;
}
footer div.container div.right div.map_box{
    background: #f4643f;
    width: 300px;
    height: 330px;
    position: absolute;
    bottom: 20px;
   
}
footer div.container div.right div.map_box div.map_img{
    padding: 14px;
}
footer div.container div.right div.map_box div.map_img img{
    display: block;
    width: 100%;
}
footer div.container div.right div.map_box div.box_content{
    padding: 10px;
}
footer div.container div.right div.map_box h3{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}
footer div.container div.right div.map_box p{
    font-size: 12px;
    color: #fff;
    width: 60%;
    margin: 18px 0;
}
footer div.container div.right div.map_box h5{
    color: #fff;
    font-size: 12px;
    margin-bottom: 12px;
}
footer div.container div.right div.map_box h6{
    color: #fff;
    font-size: 12px;
}
footer hr.line{
    border-bottom: 1px solid #797979;
    padding-top: 70px;
}
footer div.footer_bottom{
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}
footer div.footer_bottom h6{
    color: #fff;
}